h3{
    color:#f1c40f;
}

body{
    background: #2c3e50;
}

h1{
    color:white;
}
div ul li{
color:white;
}
div h2{
    border: 2px solid black;
    background-color:#f1c40f;
}
.n{
    color:#e74c3c;
}